<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home - Meteo</title>
</head>
<body>
    <!-- Hero Section -->
    <section id="hero" class="d-flex justify-content-center align-items-center">
        <div class="content text-center text-white">

            <h1>Previsioni del tempo</h1>
            <h2>Inserisci le coordinate per avere info sul meteo</h2>
            <div class="formWrapper">
                <form (ngSubmit)="selectLocation()">
                    <div class="formRow d-flex">
                        <!-- Latitude Input -->
                        <div class="field flex-fill me-5">
                          <label for="lat">Latitudine</label>
                          <input class="d-block" type="text" name="lat" id="lat" [(ngModel)]="lat" placeholder="Inserisci latitudine" oninput="this.value=this.value.replace(/[^0-9.-]/g,'');" pattern="^-?([1-8]?[0-9](\.[0-9]+)?|90(\.0+)?)$" title="Please enter a valid latitude">
                        </div>
                        <!-- Longitude Input -->
                        <div class="field flex-fill ms-5">
                          <label for="lng">Longitudine</label>
                          <input class="d-block" type="text" name="lng" id="lng" [(ngModel)]="lon" placeholder="Inserisci longitudine" oninput="this.value=this.value.replace(/[^0-9.-]/g,'');" pattern="^-?((1[0-7][0-9]|0?[0-9]{1,2})(\.[0-9]+)?|180(\.0+)?)$" title="Please enter a valid longitude">
                        </div>
                      </div>                      
                    <div class="formRow d-flex">
                        <div class="field flex-fill me-5">
                            <input class="d-block btn btn-light" type="reset" value="Reset">
                        </div>
                        <div class="field flex-fill ms-5">
                            <input class="d-block btn btn-success" type="submit" value="Richiedi i dati">
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </section>

<!-- Footer -->
<footer>
      
  <div class="footer-left">
    <h3>Informazioni</h3>
    <p>Claudia Grassitelli</p>
    <p>claudia.grassitelli@edu.itspiemonte.it</p>
    <p>Progetto finale di Angular</p>
  </div>
  <div class="footer-right">
    <h3>Città che potrebbero interessarti</h3>
    <ul>
        <li><a (click)="selectCity('Torino')" style="cursor:pointer;" >Torino</a></li>
        <li><a (click)="selectCity('Seoul')" style="cursor:pointer;" >Seoul</a></li>
        <li><a (click)="selectCity('New York')" style="cursor:pointer;" >New York</a></li>

    </ul>
  </div>
</footer>

</body>
</html>
