#hero {
  width: 100%;
  height: 100vh;
  background-image: url(https://images.pexels.com/photos/1118873/pexels-photo-1118873.jpeg?auto=compress&cs=tinysrgb&w=1920);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

input {
  width: 100%;
}

.flex-fill {
  flex: 1 !important;
}

#canvasWrapper canvas {
  width: 500px;
  height: 500px;
  margin: 0 auto;
}

footer {
  /* Add your desired styling for the footer */
}
